/* Application Imports */
@import url("../src/styles/system/applications/applications.css");

/** API imports */
@import url("../src/styles/system/applications/api/query-manager.css");
@import url("../src/styles/system/applications/api/roll-dialog.css");

/* Apps Imports */
@import url("../src/styles/system/applications/apps/advancement/chain-configuration-dialog.css");
@import url("../src/styles/system/applications/apps/advancement/fill-trait-dialog.css");
@import url("../src/styles/system/applications/apps/advancement/item-grant-configuration-dialog.css");

@import url("../src/styles/system/applications/apps/monster-metadata.css");
@import url("../src/styles/system/applications/apps/power-roll-dialog.css");
@import url("../src/styles/system/applications/apps/saving-throw-dialog.css");
@import url("../src/styles/system/applications/apps/targeted-condition-prompt.css");

/** Canvas Imports */
@import url("../src/styles/system/applications/canvas/measurement.css");
@import url("../src/styles/system/applications/canvas/token-hud.css");

/* Components Imports */
@import url("../src/styles/system/applications/components/effects.css");
@import url("../src/styles/system/applications/components/embeds.css");
@import url("../src/styles/system/applications/components/forms.css");
@import url("../src/styles/system/applications/components/items.css");

/* Sheet Imports*/
@import url("../src/styles/system/applications/sheets/actor-sheet.css");
@import url("../src/styles/system/applications/sheets/active-effect-config.css");
@import url("../src/styles/system/applications/sheets/combatant-group-config.css");
@import url("../src/styles/system/applications/sheets/item-sheet.css");
@import url("../src/styles/system/applications/sheets/journal-entry-sheet.css");
@import url("../src/styles/system/applications/sheets/pseudo-documents.css");

/* Sidebar Imports */
@import url("../src/styles/system/applications/sidebar/tabs/chat.css");
@import url("../src/styles/system/applications/sidebar/tabs/combat.css");

/** UI Imports */
@import url("../src/styles/system/applications/ui/players.css");

/** UX Imports */
@import url("../src/styles/system/applications/ux/enrichers.css");

/** Document Embeds */
@import url("../src/styles/system/data/item/ability.css");
