@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --draw-steel-c-dark: #191813;
  --draw-steel-c-faint: #c9c7b8;
  --draw-steel-c-beige: #b5b3a4;
  --draw-steel-c-tan: #444444;
  --draw-steel-c-white: #ffffff;
  --draw-steel-c-black: #000000;
  --draw-steel-c-groove: #eeede0;
  --draw-steel-c-success: green;
  --draw-steel-c-failure: red;
}

.theme-dark {
  --draw-steel-c-dark: #c9c7b8;
  --draw-steel-c-faint: #191813;
  --draw-steel-c-beige: #444444;
  --draw-steel-c-tan: #b5b3a4;
  --draw-steel-c-white: #000000;
  --draw-steel-c-black: #ffffff;
  --draw-steel-c-groove: #11121f;
}

slide-toggle {
  --slide-toggle-height: 20px;
  --slide-toggle-width: 36px;
  --slide-toggle-padding: 3px;
  --slide-toggle-track-color-unchecked: black;
  --slide-toggle-track-color-checked: #3ba55d;
  --slide-toggle-thumb-color: white;
  --slide-toggle-thumb-width: calc(var(--slide-toggle-height) - var(--slide-toggle-padding) * 2);
  --slide-toggle-thumb-height: var(--slide-toggle-thumb-width);
  --slide-toggle-transition-time: 250ms;
  display: inline-block;
  width: var(--slide-toggle-width);
  height: var(--slide-toggle-height);
  cursor: pointer;
  /* Checked state */
}
slide-toggle .slide-toggle-track {
  width: 100%;
  height: 100%;
  background: var(--slide-toggle-track-color-unchecked);
  border-radius: calc(var(--slide-toggle-height) * 2 / 3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: var(--slide-toggle-padding);
}
slide-toggle .slide-toggle-thumb {
  width: var(--slide-toggle-thumb-width);
  height: var(--slide-toggle-thumb-height);
  border-radius: 100%;
  background: var(--slide-toggle-thumb-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  text-align: center;
  transition: margin-left var(--slide-toggle-transition-time) ease;
}
slide-toggle[checked] .slide-toggle-track {
  background: var(--slide-toggle-track-color-checked);
}
slide-toggle[checked] .slide-toggle-thumb {
  margin-left: calc(100% - var(--slide-toggle-thumb-width));
}

/* Global styles */
.combat-sidebar li.combatant .token-initiative.PARTY {
  background-color: rgba(51, 188, 78, 0.3);
}
.combat-sidebar li.combatant .token-initiative.SECRET {
  background-color: rgba(166, 18, 212, 0.3);
}
.combat-sidebar li.combatant .token-initiative.HOSTILE {
  background-color: rgba(231, 33, 36, 0.3);
}
.combat-sidebar li.combatant .token-initiative.NEUTRAL {
  background-color: rgba(241, 216, 54, 0.3);
}
.combat-sidebar li.combatant .token-initiative.FRIENDLY {
  background-color: rgba(67, 223, 223, 0.3);
}
.combat-sidebar li.combatant .token-initiative.OTHER {
  background-color: rgba(85, 85, 85, 0.3);
}
.combat-sidebar li.combatant .token-initiative .activate-combatant {
  font-size: 24px;
}

.dice-roll {
  border: 1px solid var(--color-border-light-2);
  padding: 5px;
  border-radius: 5px;
}
.dice-roll .header {
  flex-basis: 100%;
  text-align: center;
  font-size: var(--font-size-16);
  font-weight: bold;
}
.dice-roll .dice-result .critical {
  color: green;
}
.dice-roll .dice-result .failure {
  color: red;
}
.dice-roll .potency {
  flex-basis: 100%;
}
.dice-roll .potency .label {
  font-weight: bold;
}
.dice-roll .potency .result.Success {
  color: var(--draw-steel-c-success);
}
.dice-roll .potency .result.Failure {
  color: var(--draw-steel-c-failure);
}

.theme-light .header-center .document-name h2 {
  color: var(--color-dark-2);
}

/* Styles limited to draw-steel sheets */
.draw-steel .item-form {
  font-family: "Roboto", sans-serif;
}
.draw-steel .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.draw-steel .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: none;
}
.draw-steel .sheet-header .header-center .document-name {
  height: 60px;
}
.draw-steel .sheet-header .header-center .document-name input, .draw-steel .sheet-header .header-center .document-name h2 {
  height: 100%;
  line-height: 60px;
  font-family: var(--font-h2);
  font-size: var(--font-h2-size);
  margin: 0;
  padding: 0;
  border: 0;
  text-shadow: none;
  display: inline-block;
}
.draw-steel .sheet-header .header-center .origins {
  height: 40px;
}
.draw-steel .sheet-header .header-center .origins div {
  text-align: center;
}
.draw-steel .sheet-header .header-center .origins .filled {
  font-weight: 700;
}
.draw-steel .sheet-header .mode-toggle {
  gap: 7px;
}
.draw-steel .sheet-header .mode-toggle .mode-slider {
  flex: 0 0 40px;
  --slide-toggle-track-color-unchecked: green;
  --slide-toggle-track-color-checked: orange;
}
.draw-steel .sheet-header .mode-toggle .label.play {
  text-align: right;
}
.draw-steel .sheet-header .mode-toggle .label.active {
  font-weight: 600;
}
.draw-steel .sheet-tabs {
  flex: 0;
}
.draw-steel .tab {
  overflow: auto;
}
.draw-steel .tab .biography {
  flex: 1;
}
.draw-steel .tab .biography .editor {
  height: 100%;
}
.draw-steel .tox .tox-editor-container {
  background: var(--draw-steel-c-white);
}
.draw-steel .tox .tox-edit-area {
  padding: 0 8px;
}
.draw-steel .item-list {
  display: grid;
  --grid-distance: 184px;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-distance), 1em));
  grid-gap: 6px;
}
.draw-steel .item-list.kits {
  --grid-distance: 267px;
  margin: 5px 0 0;
}
.draw-steel .item-list .item {
  width: var(--grid-distance);
  padding: 3px;
}
.draw-steel .item-list .item .img {
  flex: 0 0 30px;
  max-width: 30px;
  border-color: var(--button-border-color);
  border-style: outset;
  border-width: 2px;
  margin-right: 2px;
}
.draw-steel .item-list .item .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.draw-steel .item-list .item .delete {
  flex: 0 0 10px;
}
.draw-steel .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--draw-steel-c-groove);
  font-weight: bold;
}
.draw-steel .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.draw-steel .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.draw-steel .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--draw-steel-c-tan);
}
.draw-steel .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.draw-steel .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.draw-steel .effects-list .effect-name h3, .draw-steel .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.draw-steel .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.draw-steel .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.draw-steel .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--draw-steel-c-faint);
}
.draw-steel .effects-list .effect:last-child {
  border-bottom: none;
}
.draw-steel .effects-list .effect .effect-name {
  color: var(--draw-steel-c-dark);
}
.draw-steel .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.draw-steel .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.draw-steel .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--draw-steel-c-groove);
  font-weight: bold;
}
.draw-steel .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.draw-steel .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.draw-steel .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.draw-steel .effects .item .effect-source,
.draw-steel .effects .item .effect-duration,
.draw-steel .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.draw-steel .effects .item .effect-controls {
  border: none;
}
.draw-steel.actor .form-group .input-placeholder {
  line-height: var(--input-height);
  font-size: var(--font-size-16);
}
.draw-steel.actor .form-group.paired {
  gap: 10px;
}
.draw-steel.actor .form-group.paired label {
  flex: 1;
  text-align: right;
  line-height: var(--input-height);
}
.draw-steel.actor .form-group.paired .form-fields,
.draw-steel.actor .form-group.paired .input-placeholder {
  flex: 1;
  justify-content: left;
}
.draw-steel.actor .form-group.paired .input-placeholder {
  text-align: left;
}
.draw-steel.actor .form-fields {
  justify-content: center;
}
.draw-steel.actor .sheet-header .header-right {
  padding-left: 5px;
  flex: 0 0 200px;
  height: 100px;
}
.draw-steel.actor .sheet-header .header-right .class {
  flex: 1;
}
.draw-steel.actor .sheet-header .header-right .class .click-element {
  height: 100%;
}
.draw-steel.actor .sheet-header .header-right .class .click-element [data-action=deleteDoc] {
  flex: 0 0 20px;
}
.draw-steel.actor .sheet-header .header-right .class .label {
  display: inline-block;
  line-height: 50px;
  height: 100%;
  font-size: var(--font-h3-size);
}
.draw-steel.actor .sheet-header .header-right .class .label.unfilled {
  width: 100%;
  text-align: center;
}
.draw-steel.actor .sheet-header .header-right .victories {
  flex: 0 0 30px;
  line-height: 30px;
}
.draw-steel.actor .sheet-header .header-right .victories input {
  height: 30px;
  width: 40px;
}
.draw-steel.actor .sheet-header .header-right .item-img {
  display: inline-block;
  border: none;
  height: 36px;
  flex: 0 0 36px;
}
.draw-steel.actor .sheet-header .header-right .monster-data {
  gap: 3px;
}
.draw-steel.actor .sheet-header .header-right .monster-data .actor-source {
  margin-top: 5px;
  font-family: var(--font-h6);
  font-size: var(--font-size-18);
}
.draw-steel.actor .sheet-header .header-right .monster-data .malice {
  text-align: center;
  flex: 0 0 40px;
}
.draw-steel.actor section.tab {
  height: 100%;
}
.draw-steel.actor .flexrow.fieldgroup {
  align-items: stretch;
}
.draw-steel.actor .resources .form-group.stacked {
  flex-direction: column-reverse;
}
.draw-steel.actor .resources .resource input[type=number] {
  width: 60px;
  flex: 0 0 50px;
}
.draw-steel.actor .resources .resource.heroic label {
  text-align: right;
}
.draw-steel.actor .resources .resource-label {
  font-weight: 600;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.draw-steel.actor .resources .resource-current {
  text-align: center;
}
.draw-steel.actor .resources .resource-divider {
  flex: 0 0 20px;
  text-align: center;
}
.draw-steel.actor .resources .resource-max {
  text-align: center;
}
.draw-steel.actor .free-strike {
  flex: 0 0 120px;
}
.draw-steel.actor .free-strike .free-strike-body {
  text-align: center;
  height: 100%;
  padding: 10px 0;
}
.draw-steel.actor .characteristics .characteristic {
  font-size: large;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.draw-steel.actor .characteristics .edit input {
  width: 60px;
  text-align: center;
}
.draw-steel.actor .combat .play,
.draw-steel.actor .movement .play {
  text-align: center;
}
.draw-steel.actor .combat .size input,
.draw-steel.actor .movement .size input {
  margin: 0 10px;
}
.draw-steel.actor .combat .size select,
.draw-steel.actor .movement .size select {
  flex-basis: 70px;
}
.draw-steel.actor .combat .form-group,
.draw-steel.actor .movement .form-group {
  text-align: center;
  margin: 0;
}
.draw-steel.actor .combat .form-group .form-fields,
.draw-steel.actor .movement .form-group .form-fields {
  flex: 1 1 20px;
}
.draw-steel.actor .tab .item-header {
  line-height: 24px;
}
.draw-steel.item .sheet-header .header-right {
  flex: 0 0 125px;
  height: 100%;
}
.draw-steel.item .sheet-header .header-right .item-source {
  margin: 5px 5px;
  font-family: var(--font-h6);
  font-size: var(--font-size-18);
}
.draw-steel.item section[data-tab=description].editorActive .prosemirror.editor:not(.active) {
  display: none;
}
.draw-steel.item section[data-tab=description].editorActive .prosemirror.editor .label-action {
  display: none;
}
.draw-steel.item section[data-tab=description].editorActive .prosemirror.editor .editor-container {
  min-height: 250px;
}
.draw-steel.item section[data-tab=description] .description-label {
  display: block;
  line-height: var(--form-field-height);
  font-family: var(--font-h4);
  font-size: var(--font-h4-size);
}
.draw-steel.item section[data-tab=description] .description-label .label-action {
  font-size: 0.9rem;
  vertical-align: top;
}
.draw-steel.item section[data-tab=description] .editor-container {
  height: 300px;
}
.draw-steel.item section[data-tab=description] .description {
  padding: 0.25rem;
}
.draw-steel.item [data-tab=details][data-subtype=kit] .damage-bonus {
  margin: 0.2rem 0 0.1rem;
  font-size: 1.15rem;
}
.draw-steel.item [data-tab=details][data-subtype=kit] .form-group.damage-part {
  display: inline-flex;
  width: 135px;
}
.draw-steel.item [data-tab=details][data-subtype=kit] .form-group.damage-part label {
  text-align: center;
}
.draw-steel.item [data-tab=details][data-subtype=kit] .form-group.damage-part .form-fields {
  flex: 0 0 40px;
  text-align: right;
}
.draw-steel.item [data-tab=details][data-subtype=ability] .power-roll-effect {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.02);
  margin-top: 5px;
}
.draw-steel.power-roll-dialog .group .header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: var(--font-size-16);
}
.draw-steel.power-roll-dialog .group .modifiers {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5px;
  margin-bottom: 10px;
}
.draw-steel.power-roll-dialog .group .modifiers label {
  flex: 1;
}
.draw-steel.power-roll-dialog .group .modifiers label select {
  margin-bottom: 5px;
}
.draw-steel.targeted-condition-prompt .header {
  font-weight: bold;
  font-size: var(--font-size-16);
}
.draw-steel.targeted-condition-prompt .condition-target {
  margin: 5px 0px;
}

.content-embed div.ability h5 {
  margin: 0;
  font-size: var(--font-h5-size);
}
.content-embed div.ability .metadata {
  margin: 0.5em 0;
}
.content-embed div.ability .metadata .info-row p {
  margin: 0;
}
.content-embed div.ability .powerResult .potency {
  color: red;
}
.content-embed div.ability .effect {
  margin: 0.5em 0;
}

.chat-message .powerResult .potency {
  color: red;
}
