.draw-steel.fill-language-dialog {
  .advancement {
    .advancement-img {
      flex: 0 0 var(--input-height);
      max-height: var(--input-height);
    }
    .hint {
      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }
  }
}
