.draw-steel.configure-advancement {
  [data-application-part="body"] {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    .item-choices {
      max-height: 50vh;
      overflow-y: auto;

      .points {
        text-align: right;
      }
    }
  }
}
