.form-group {
  .input-placeholder {
    line-height: var(--input-height);
    font-size: var(--font-size-16);
  }

  &.paired {
    gap: 10px;

    label {
      flex: 1;
      text-align: right;
      line-height: var(--input-height);
    }

    .form-fields,
    .input-placeholder {
      flex: 1;
      justify-content: left;
    }

    .input-placeholder {
      text-align: left;
    }
  }
}

.form-fields {
  justify-content: center;
}

.sheet-header {
  .header-right {
    padding-left: 5px;
    flex: 0 0 200px;
    height: 100px;
    .class {
      flex: 1;
      .click-element {
        height: 100%;
        [data-action='deleteDoc'] {
          flex: 0 0 20px;
        }
      }
      .label {
        display: inline-block;
        line-height: 50px;
        height: 100%;
        font-size: var(--font-h3-size);
        &.unfilled {
          width: 100%;
          text-align: center;
        }
      }
    }
    .victories {
      flex: 0 0 30px;
      line-height: 30px;
      input {
        height: 30px;
        width: 40px;
      }
    }
    .item-img {
      display: inline-block;
      border: none;
      height: 36px;
      flex: 0 0 36px;
    }
    .monster-data {
      gap: 3px;
      .actor-source {
        margin-top: 5px;
        font-family: var(--font-h6);
        font-size: var(--font-size-18);
      }
      .malice {
        text-align: center;
        flex: 0 0 40px;
      }
    }
  }
}

section.tab {
  height: 100%
}

.flexrow.fieldgroup {
  align-items: stretch;
}

.resources {
  .form-group.stacked {
    flex-direction: column-reverse;
  }

  .resource {
    input[type=number] {
      width: 60px;
      flex: 0 0 50px;
    }
    &.heroic label {
      text-align: right;
    }
  }

  .resource-label {
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: inline-block;
  }

  .resource-current {
    text-align: center;
  }

  .resource-divider {
    flex: 0 0 20px;
    text-align: center;
  }

  .resource-max {
    // font-size: large;
    text-align: center;
  }
}

.free-strike {
  flex: 0 0 120px;
  .free-strike-body {
    text-align: center;
    height: 100%;
    padding: 10px 0;
  }
}

.characteristics {
  .characteristic {
    font-size: large;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .edit {
    input {
      width: 60px;
      text-align: center;
    }
  }
}

.combat,
.movement {
  .play {
    text-align: center;
  }

  .size {
    input {
      margin: 0 10px;
    }

    select {
      flex-basis: 70px;
    }
  }

  .form-group {
    text-align: center;
    margin: 0;

    .form-fields {
      flex: 1 1 20px;
    }
  }
}

.tab {
  .item-header {
    line-height: 24px;
  }
}

.tab.abilities .item-list-container {

  .item-cost,
  .item-distance,
  .item-target {
    width: 100px;
  }

  .item-row {
    .item-name {
      cursor: pointer;

      &:hover .label {
        text-shadow: 0 0 8px var(--color-shadow-primary);
      }

      .name {
        .keywords {
          font-size: var(--font-size-12);
        }
      }
    }
  }
}
