div.ability {
  h5 {
    margin: 0;
    font-size: var(--font-h5-size);
  }
  .metadata {
    margin: 0.5em 0;

    .info-row {
      p {
        margin: 0;
      }
    }
  }
  .effect {
    margin: 0.5em 0;
  }
}
