div.ability {
  h5 {
    margin: 0;
    font-size: var(--font-h5-size);
  }

  .metadata {
    margin: 0.5em 0;

    .info-row {
      p {
        margin: 0;
      }
    }
  }

  .powerResult {
    .potency {
      color: red
    }
  }

  .effect {
    margin: 0.5em 0;
  }
}

div.kit {
  h5 {
    margin: 0;
    font-size: var(--font-h5-size);
  }

  h6 {
    margin: 0;
    font-size: var(--font-h6-size);
  }
}
