:root {
  --draw-steel-c-dark: #191813;
  --draw-steel-c-faint: #c9c7b8;
  --draw-steel-c-beige: #b5b3a4;
  --draw-steel-c-tan: #444444;
  --draw-steel-c-white: #ffffff;
  --draw-steel-c-black: #000000;
  --draw-steel-c-groove: #eeede0;
  --draw-steel-c-success: green;
  --draw-steel-c-failure: red;
  --draw-steel-c-item-header-bg: var(--draw-steel-c-beige);
  --draw-steel-c-item-alternating-bg: rgba(0, 0, 0, .05);
}

.theme-dark {
  --draw-steel-c-dark: #c9c7b8;
  --draw-steel-c-faint: #191813;
  --draw-steel-c-beige: #444444;
  --draw-steel-c-tan: #b5b3a4;
  --draw-steel-c-white: #000000;
  --draw-steel-c-black: #ffffff;
  --draw-steel-c-groove: #11121f;
  --draw-steel-c-item-header-bg: #28232f;
  --draw-steel-c-item-alternating-bg: rgba(255, 255, 255, .05);
}

$c-white: var(--draw-steel-c-white);
$c-black: var(--draw-steel-c-black);

$c-dark: var(--draw-steel-c-dark);
$c-faint: var(--draw-steel-c-faint);
$c-beige: var(--draw-steel-c-beige);
$c-tan: var(--draw-steel-c-tan);

$c-groove: var(--draw-steel-c-groove);
