#tooltip.draw-steel,
aside[role="tooltip"] {
  header.metadata {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    h3.name {
      padding-top: 0.5rem;
      margin-bottom: 0;
    }

    aside.category {
      border: 2px inset var(--draw-steel-c-laserline);
      background-color: var(--draw-steel-c-black);
      padding: 0.25rem 0.5rem;
      margin: 0.5rem 0;

      h4 {
        text-align: right;
        line-height: 1rem;
        color: var(--draw-steel-c-white);
        margin: 0;
        font-size: var(--font-size-16);
      }
    }
  }

  section.content {
    max-height: max(10vh, 400px);
  }
}
