<header class="{{header.cssClass}}">
  <aside>
    <header>
      <h2>{{ header.title }}</h2>
    </header>
    <section>{{{ header.content }}}</section>
  </aside>
  {{!-- Necessary for Compendium preSyncPartState --}}
  <search>
    <input type="hidden">
  </search>
</header>
