<section class="sheet-body">
  {{formGroup fields.initiative value=source.initiative label="COMBAT.CombatantInitiative" localize=true}}
  {{#if (eq document.type "squad")}}
  {{formGroup systemFields.stamina.fields.value value=source.system.stamina.value}}
  {{/if}}
</section>
