.dialog.draw-steel.color-tokens {
  .color-swatches {
    justify-content: flex-end;
  }
  button.color-swatch {
    flex: 0 0 var(--input-height);
    background-color: var(--swatch-color);
    border: 2px solid white;
  }
}
