{{! Biography Tab }}
<section class="tab biography standard-form {{tab.cssClass}}" data-group="primary" data-tab="biography">
  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/biography/biography.hbs"}}
  {{> "systems/draw-steel/templates/sheets/actor/shared/partials/biography/director-notes.hbs"}}
</section>
