/* Sheets do not include the document-embed wrapper but do use a `.content-embed` div class */
.system-draw-steel document-embed,
.system-draw-steel .content-embed {
  div.ability {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    .metadata {
      margin: 0.5em 0;

      .info-row {
        p {
          margin: 0;
        }
      }
    }

    .powerResult {
      margin-top: 1rem;
    }

    .effect {
      margin: 0.5em 0;
    }
  }

  div.kit {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    h6 {
      margin: 0;
      font-size: var(--font-h6-size);
    }
  }

  .roll-table-embed {
    table-layout: fixed;


    thead {
      border: none;
      border-color: transparent;
    }

    th,
    td {
      width: auto;
    }

    th:first-child,
    td:first-child {
      width: 5em;
      worder-wrap: break-word;

      button {
        margin: 0 auto;
      }
    }
  }
}
