/* Sheets do not include the document-embed wrapper but do use a `.content-embed` div class */
document-embed, .content-embed {
  div.ability {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    .metadata {
      margin: 0.5em 0;

      .info-row {
        p {
          margin: 0;
        }
      }
    }

    .powerResult {
      margin-top: 1rem;
      dt.tier1, dt.tier2, dt.tier3 {
        font-family: "Draw Steel Glyphs";
        font-size: var(--font-size-24);
        font-weight: 500;
        line-height: 0.9;
      }
    }

    .effect {
      margin: 0.5em 0;
    }
  }

  div.kit {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    h6 {
      margin: 0;
      font-size: var(--font-h6-size);
    }
  }
}
