/* Sheets do not include the document-embed wrapper but do use a `.content-embed` div class */
document-embed, .content-embed {
  div.ability, &.immediate-embed.ability {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    .metadata {
      margin: 0.5em 0;

      dt.distance, dt.target {
        font-family: "Draw Steel Glyphs";
        text-align: right;
      }
    }

    dd.effect {
      :first-child {
        /* Ensures the text lines up with the dt element */
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  div.kit {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    h6 {
      margin: 0;
      font-size: var(--font-h6-size);
    }
  }

  /* Embeds inside a Draw Steel application */
  .draw-steel & {
    .roll-table-embed {
      table-layout: fixed;


      thead {
        border: none;
        border-color: transparent;
      }

      th,
      td {
        width: auto;
      }

      th:first-child,
      td:first-child {
        width: 5em;
        word-wrap: break-word;

        button {
          margin: 0 auto;
        }
      }
    }

    /* all embedded captions*/
    /*draws gradient behind*/
    caption {
      text-align: center;
      position: relative;
      border-bottom: 2px solid #866d4b;
      line-height: 0.75em;
      padding-top: 1em;
      width: 100%;
      border-image: linear-gradient(to right, #ffffff03, #866d4b99, #ffffff03) 1;
      border-image-slice: 1;

      /*adds white block over gradient, behind text*/
      strong {
        background: var(--draw-steel-c-white);
        padding: 0.5em 1em;
        margin-top: -0.75em;
        position: absolute;
        transform: translate(-50%, 0%);
      }

      /*adds diamonds*/
      strong::before {
        content: "®";
        font-family: Draw Steel Glyphs;
        color: #866d4b;
        position: absolute;
        left: -0.5em;
      }

      strong::after {
        content: "®";
        font-family: Draw Steel Glyphs;
        color: #866d4b;
        position: absolute;
        right: -0.5em;
      }

      cite {
        position: absolute;
        top: 1.25em;
        right: 0;
      }

      cite::before {
        content: '';
        clear: both;
        margin-top: 3em;
      }
    }
  }

  /* Scene Embeds */
  &.scene-embed {
    a.content-link {
      border: none;
      padding-right: 0;
    }
    a[data-embed-action] {
      margin-left: 0.3rem;
    }
  }
}
