/* Sheets do not include the document-embed wrapper but do use a `.content-embed` div class */
document-embed, .content-embed {
  div.ability, &.immediate-embed.ability {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    .metadata {
      margin: 0.5em 0;

      dt.distance, dt.target {
        font-family: "Draw Steel Glyphs";
      }
    }

    .powerResult {
      margin-top: 1rem;
    }

    dd.effect {
      :first-child {
        /* Ensures the text lines up with the dt element */
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  div.kit {
    h5 {
      margin: 0;
      font-size: var(--font-h5-size);
    }

    h6 {
      margin: 0;
      font-size: var(--font-h6-size);
    }
  }
}
