.draw-steel {

  .sheet-header {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;

    .profile-img {
      flex: 0 0 100px;
      height: 100px;
    }

    .header-center {
      overflow-y: auto;
      /* 235px is the width of the image, header-right, and the gaps */
      max-width: calc(100% - 235px);
      flex-grow: 1;

      .document-name {
        max-height: 65px;
        line-height: 65px;
        input, h2 {
          font-family: var(--font-h2);
          font-size: var(--font-h2-size);
          margin: 0;
          padding: 0;
          border: 0;
          text-shadow: none;
          display: inline-block;
        }
        input {
          height: 100%;
        }
        h2 {
          max-height: 100%;
          max-width: 100%;
          vertical-align: middle;
          overflow: hidden;
        }
      }
    }

    .mode-toggle {
      gap: 7px;
      .mode-slider {
        flex: 0 0 40px;
        --slide-toggle-track-color-unchecked: green;
        --slide-toggle-track-color-checked: orange;
      }
      .label {
        &.play {
          text-align: right;
        }
        &.active {
          font-weight: 600;
        }
      }
    }
  }

  .sheet-tabs {
    flex: 0;
  }

  section.tab {
    overflow: auto;

    &.standard-form {
      padding-top: 0.5rem;
    }

    .biography {
      flex: 1;

      .editor {
        height: 100%;
      }
    }
  }

  /* Description Lists */
  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin: 10px 0px;
    dt, dd {
      margin: 0;
      color: inherit;
    }
    dt {
      text-shadow: none;
      font-weight: bold;
    }
  }
}
