.draw-steel {
  .item-list-container {
    margin: 10px 0px;

    .item-row,
    .item-header {
      display: flex;
      align-items: center;
      text-align: center;
    }

    .item-header {
      background-color: var(--draw-steel-c-item-header-bg);
      border-radius: 5px 5px 0px 0px;
      position: sticky;
      top: 0px;

      .item-name {
        font-weight: bold;
        font-size: var(--font-size-16);
      }
    }

    .item-name {
      flex: 1;
      display: flex;
      align-items: center;
      text-align: left;
      padding: 5px 0px 5px 5px;
    }

    .item-controls {
      display: flex;
      width: 25px;
      justify-content: space-evenly;
    }

    .item-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .item {
        &:nth-child(even) {
          background-color: var(--draw-steel-c-item-alternating-bg);
        }

        .item-row {
          .item-name {
            gap: 5px;

            &.rollable {
              cursor: var(--cursor-pointer);

              &:hover .label {
                text-shadow: 0 0 8px var(--color-shadow-primary);
              }
            }

            .name {
              .label {
                font-weight: bold;
                font-size: var(--font-size-15);
              }
            }

            img {
              width: 24px;
              /* height: 30px; */
              border: none;
            }
          }
        }

        .document-embed {
          display: grid;
          grid-template-rows: 0fr;
          transition: grid-template-rows .25s linear;

          &.expanded {
            grid-template-rows: 1fr;
          }

          & > div {
            overflow: hidden;
          }
        }
      }
    }
  }
}
