.draw-steel {
  .item-list {
    display: grid;
    --grid-distance: 184px;
    grid-template-columns: repeat(auto-fit, minmax(var(--grid-distance), 1em));
    grid-gap: 6px;
    &.kits {
      --grid-distance: 267px;
      margin: 5px 0 0;
    }
    .item {
      width: var(--grid-distance);
      padding: 3px;
      .img {
        flex: 0 0 30px;
        max-width: 30px;
        border-color: var(--button-border-color);
        border-style: outset;
        border-width: 2px;
        margin-right: 2px;
      }
      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .delete {
        flex: 0 0 10px;
      }
    }
  }
  .item-list-container {
    margin: 10px 0px;

    .item-row,
    .item-header {
      display: flex;
      align-items: center;
      text-align: center;
    }

    .item-header {
      background-color: var(--draw-steel-c-item-header-bg);
      border-radius: 5px 5px 0px 0px;
      position: sticky;
      top: 0px;

      .item-name {
        font-weight: bold;
        font-size: var(--font-size-16);
      }
    }

    .item-name {
      flex: 1;
      display: flex;
      align-items: center;
      text-align: left;
      padding: 5px 0px 5px 5px;
    }

    .item-controls {
      display: flex;
      width: 25px;
      justify-content: space-evenly;
    }

    .item-list2 {
      list-style: none;
      padding: 0;
      margin: 0;

      .item {
        &:nth-child(even) {
          background-color: var(--draw-steel-c-item-alternating-bg);
        }

        .item-row {
          .item-name {
            gap: 5px;

            &.rollable {
              cursor: var(--cursor-pointer);

              &:hover .label {
                text-shadow: 0 0 8px var(--color-shadow-primary);
              }
            }

            .name {
              .label {
                font-weight: bold;
                font-size: var(--font-size-15);
              }
            }

            img {
              width: 30px;
              height: 30px;
              border: none;
            }
          }
        }
      }
    }
  }
}
