<multi-select>
    <div class="tags input-element-tags">
        <div class="tag">
            <span>test</span>
            <a class="remove fa-solid fa-xmark" data-tooltip="ELEMENTS.TAGS.Remove" aria-label="Remove Tag"></a>
        </div>
        <div class="tag">
            <span>test2</span><a class="remove fa-solid fa-xmark" data-tooltip="ELEMENTS.TAGS.Remove"
                aria-label="Remove Tag"></a>
        </div>
        <select>
            <option value=""></option>
            <optgroup label="Test 1">
                <option value="foo">foo</option>
                <option value="bar">bar</option>
                <option value="baz">baz</option>
            </optgroup>
            <optgroup label="Test 2">
                <option value="lorem">lorem</option>
                <option value="ipsum">ipsum</option>
            </optgroup>
        </select>
</multi-select>





<prose-mirror class="editor prosemirror active">
    <div class="menu-container">
        <menu class="editor-menu" id="prosemirror-menu-ODHX9LNs0fy0VvAt">
            <li class="text">
                <button type="button" class="pm-dropdown  format">
                    <span>Format</span>
                    <i class="fa-solid fa-chevron-down"></i>
                    <ul>
                        <li data-action="headings" class="">
                            <span style="">Headings</span>
                            <i class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="h1" class="level1">
                                    <span style="">Heading 1</span>
                                </li>
                                <li data-action="h2" class="level2"><span style="">Heading 2</span></li>
                                <li data-action="h3" class="level3"><span style="">Heading 3</span></li>
                                <li data-action="h4" class="level4"><span style="">Heading 4</span></li>
                                <li data-action="h5" class="level5"><span style="">Heading 5</span></li>
                                <li data-action="h6" class="level6"><span style="">Heading 6</span></li>
                            </ul>
                        </li>
                        <li data-action="block" class=""><span style="">Block</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="paragraph" class=""><span style="">Paragraph</span></li>
                                <li data-action="blockquote" class=""><span style="">Blockquote</span></li>
                                <li data-action="code-block" class=""><span style="">Code Block</span></li>
                                <li data-action="secret" class=""><span style="">Secret</span></li>
                            </ul>
                        </li>
                        <li data-action="inline" class=""><span style="">Inline</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="bold" class=""><span style="font-weight: bold;">Bold</span></li>
                                <li data-action="italic" class=""><span style="font-style: italic;">Italic</span></li>
                                <li data-action="code" class=""><span style="font-family: monospace;">Code</span></li>
                                <li data-action="underline" class=""><span
                                        style="text-decoration: underline;">Underline</span></li>
                                <li data-action="strikethrough" class=""><span
                                        style="text-decoration: line-through;">Strikethrough</span></li>
                                <li data-action="superscript" class=""><span style="">Superscript</span></li>
                                <li data-action="subscript" class=""><span style="">Subscript</span></li>
                            </ul>
                        </li>
                        <li data-action="alignment" class=""><span style="">Alignment</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="align-left" class=""><span style="">Left</span></li>
                                <li data-action="align-center" class=""><span style="">Center</span></li>
                                <li data-action="align-justify" class=""><span style="">Justify</span></li>
                                <li data-action="align-right" class=""><span style="">Right</span></li>
                            </ul>
                        </li>
                        <li data-action="custom-inserts" class=""><span style="">Custom</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="draw-steel" class=""><span style="">Draw Steel Inserts</span><i
                                        class="fa-solid fa-chevron-right"></i>
                                    <ul>
                                        <li data-action="ds.tierOutcome" class=""><span style="">Power Roll
                                                Outcome</span></li>
                                        <li data-action="ds.hanging-indent" class=""><span style="">Hanging Indent
                                                Paragraph</span></li>
                                        <li data-action="ds.glyph" class=""><span style="">Draw Steel Glyph</span></li>
                                        <li data-action="ds.boxed" class=""><span style="">Boxed Aside</span></li>
                                        <li data-action="ds.inverseBox" class=""><span style="">Boxed Aside
                                                (Inverted)</span></li>
                                        <li data-action="ds.callout" class=""><span style="">Callout Aside</span></li>
                                        <li data-action="ds.abilityBorder" class=""><span style="">Ability Border</span>
                                        </li>
                                        <li data-action="ds.abilityBorderQuick" class=""><span style="">Ability Border
                                                (Quick Pick)</span></li>
                                        <li data-action="ds.malice" class=""><span style="">Malice Features</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li data-action="tables" class="" hidden=""><span style="">Table</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="insert-table" class=""><span style="">Insert Table</span></li>
                                <li data-action="delete-table" class=""><span style="">Delete Table</span></li>
                                <li class="divider"></li>
                                <li data-action="add-col-before" class=""><span style="">Add Column Before</span></li>
                                <li data-action="add-col-after" class=""><span style="">Add Column After</span></li>
                                <li data-action="delete-col" class=""><span style="">Delete Column</span></li>
                                <li class="divider"></li>
                                <li data-action="add-row-before" class=""><span style="">Add Row Before</span></li>
                                <li data-action="add-row-after" class=""><span style="">Add Row After</span></li>
                                <li data-action="delete-row" class=""><span style="">Delete Row</span></li>
                                <li class="divider"></li>
                                <li data-action="merge-cells" class=""><span style="">Merge Cells</span></li>
                                <li data-action="split-cell" class=""><span style="">Split Cell</span></li>
                            </ul>
                        </li>
                        <li data-action="fonts" class="" hidden=""><span style="">Font</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="font-family-amiri" class=""><span
                                        style="font-family: 'Amiri';">Amiri</span></li>
                                <li data-action="font-family-arial" class=""><span
                                        style="font-family: 'Arial';">Arial</span></li>
                                <li data-action="font-family-bruno-ace" class=""><span
                                        style="font-family: 'Bruno Ace';">Bruno Ace</span></li>
                                <li data-action="font-family-courier" class=""><span
                                        style="font-family: 'Courier';">Courier</span></li>
                                <li data-action="font-family-courier-new" class=""><span
                                        style="font-family: 'Courier New';">Courier New</span></li>
                                <li data-action="font-family-draw-steel-book" class=""><span
                                        style="font-family: 'Draw Steel Book';">Draw Steel Book</span></li>
                                <li data-action="font-family-modesto-condensed" class=""><span
                                        style="font-family: 'Modesto Condensed';">Modesto Condensed</span></li>
                                <li data-action="font-family-signika" class=""><span
                                        style="font-family: 'Signika';">Signika</span></li>
                                <li data-action="font-family-times" class=""><span
                                        style="font-family: 'Times';">Times</span></li>
                                <li data-action="font-family-times-new-roman" class=""><span
                                        style="font-family: 'Times New Roman';">Times New Roman</span></li>
                            </ul>
                        </li>
                        <li data-action="font-size" class="" hidden=""><span style="">Size</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="font-size-small" class=""><span style="">Small</span></li>
                                <li data-action="font-size-normal" class=""><span style="">Normal</span></li>
                                <li data-action="font-size-large" class=""><span style="">Large</span></li>
                                <li data-action="font-size-huge" class=""><span style="">Huge</span></li>
                                <li class="divider"></li>
                                <li data-action="font-size-custom" class=""><span style="">Custom</span></li>
                            </ul>
                        </li>
                        <li data-action="font-format" class="" hidden=""><span style="">Format</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="font-color" class=""><span style="">Color</span></li>
                            </ul>
                        </li>
                        <li data-action="lists" class="" hidden=""><span style="">Lists</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="bullet-list" class=""><span style="">Bulleted List</span></li>
                                <li data-action="number-list" class=""><span style="">Numbered List</span></li>
                            </ul>
                        </li>
                        <li data-action="insert" class="" hidden=""><span style="">Insert</span><i
                                class="fa-solid fa-chevron-right"></i>
                            <ul>
                                <li data-action="horizontal-rule" class=""><span style="">Horizontal Rule</span></li>
                                <li data-action="image" class=""><span style="">Insert Image</span></li>
                                <li data-action="link" class=""><span style="">Link</span></li>
                            </ul>
                        </li>
                    </ul>
                </button>
            </li>
            <li class="text" data-menu="tables" data-weight="100">
                <button type="button" class="pm-dropdown icon tables">
                    <i class="fa-solid fa-table fa-fw"></i>
                    <i class="fa-solid fa-chevron-down"></i>
                    <ul>
                        <li data-action="insert-table" class=""><span style="">Insert Table</span></li>
                        <li data-action="delete-table" class=""><span style="">Delete Table</span></li>
                        <li class="divider"></li>
                        <li data-action="add-col-before" class=""><span style="">Add Column Before</span></li>
                        <li data-action="add-col-after" class=""><span style="">Add Column After</span></li>
                        <li data-action="delete-col" class=""><span style="">Delete Column</span></li>
                        <li class="divider"></li>
                        <li data-action="add-row-before" class=""><span style="">Add Row Before</span></li>
                        <li data-action="add-row-after" class=""><span style="">Add Row After</span></li>
                        <li data-action="delete-row" class=""><span style="">Delete Row</span></li>
                        <li class="divider"></li>
                        <li data-action="merge-cells" class=""><span style="">Merge Cells</span></li>
                        <li data-action="split-cell" class=""><span style="">Split Cell</span></li>
                    </ul>
                </button>
            </li>
            <li class="text" data-menu="fonts" data-weight="200">
                <button type="button" class="pm-dropdown icon fonts">
                    <i class="fa-solid fa-font fa-fw"></i>
                    <i class="fa-solid fa-chevron-down"></i>
                    <ul>
                        <li data-action="font-family-amiri" class=""><span style="font-family: 'Amiri';">Amiri</span>
                        </li>
                        <li data-action="font-family-arial" class=""><span style="font-family: 'Arial';">Arial</span>
                        </li>
                        <li data-action="font-family-bruno-ace" class=""><span style="font-family: 'Bruno Ace';">Bruno
                                Ace</span></li>
                        <li data-action="font-family-courier" class=""><span
                                style="font-family: 'Courier';">Courier</span></li>
                        <li data-action="font-family-courier-new" class=""><span
                                style="font-family: 'Courier New';">Courier New</span></li>
                        <li data-action="font-family-draw-steel-book" class=""><span
                                style="font-family: 'Draw Steel Book';">Draw Steel Book</span></li>
                        <li dat  style="font-family: 'Signika';">Signika</span></li>
                        <li data-action="font-family-times" class=""><span style="font-family: 'Times';">Times</span>
                        </li>
                        <li data-action="font-family-times-new-roman" class=""><span
                                style="font-family: 'Times New Roman';">Times New Roman</span></li>
                    </ul>
                </button>
            </li>
            <li class="text" data-menu="font-size" data-weight="200">
                <button type="button" class="pm-dropdown icon sizes">
                    <i class="fa-solid fa-text-size fa-fw"></i>
                    <i class="fa-solid fa-chevron-down"></i>
                    <ul>
                        <li data-action="font-size-small" class=""><span style="">Small</span></li>
                        <li data-action="font-size-normal" class=""><span style="">Normal</span></li>
                        <li data-action="font-size-large" class=""><span style="">Large</span></li>
                        <li data-action="font-size-huge" class=""><span style="">Huge</span></li>
                        <li class="divider"></li>
                        <li data-action="font-size-custom" class=""><span style="">Custom</span></li>
                    </ul>
                </button>
            </li>
            <li class="text"><button type="button" data-action="font-color" data-tooltip="EDITOR.Font.Color.Title"
                    data-weight="200" data-menu="font-format"><i class="fa-solid fa-palette fa-fw"></i></button></li>
            <li class="text"><button type="button" data-action="bullet-list" data-tooltip="EDITOR.BulletList"
                    data-weight="300" data-menu="lists"><i class="fa-solid fa-list-ul fa-fw"></i></button></li>
            <li class="text"><button type="button" data-action="number-list" data-tooltip="EDITOR.NumberList"
                    data-weight="300" data-menu="lists"><i class="fa-solid fa-list-ol fa-fw"></i></button></li>
            <li class="text"><button type="button" data-action="horizontal-rule" data-tooltip="EDITOR.HorizontalRule"
                    data-weight="400" data-menu="insert"><i class="fa-solid fa-horizontal-rule fa-fw"></i></button></li>
            <li class="text"><button type="button" data-action="image" data-tooltip="EDITOR.InsertImage"
                    data-weight="400" data-menu="insert"><i class="fa-solid fa-image fa-fw"></i></button></li>
            <li class="text"><button type="button" data-action="link" data-tooltip="EDITOR.Link" data-weight="400"
                    data-menu="insert"><i class="fa-solid fa-link fa-fw"></i></button></li>
            <li class="text"><button type="button" data-action="clear-formatting"
                    data-tooltip="EDITOR.ClearFormatting"><i class="fa-solid fa-text-slash fa-fw"></i></button></li>
            <li class="right"><button type="button" data-action="save" data-tooltip="EDITOR.Save"><i
                        class="fa-solid fa-save fa-fw"></i></button></li>
            <li class="source-code-edit right"><button type="button" data-action="source-code"
                    data-tooltip="EDITOR.SourceHTML"><i class="fa-solid fa-code fa-fw"></i></button></li>
            <li class="concurrent-users" data-tooltip-text="Director">
                <i class="fa-solid fa-user-group"></i>

                <span class="scene-player" style="background: #28cc2f; border: 1px solid #50ff5e;">
                    D
                </span>

            </li>

        </menu>
    </div>
    <div class="editor-container">
        <div class="editor-content ProseMirror" contenteditable="true" translate="no">
            <p><br class="ProseMirror-trailingBreak"></p>
        </div>
    </div>
</prose-mirror>
                              


input[type="range"]::-webkit-slider-thumb

input[type="range"]::-moz-range-thumb

input[type="range"]::-ms-thumb