{{! Features Tab }}
<section
  class='tab features {{tab.cssClass}}'
  data-group='primary'
  data-tab='features'
>
  <div class="item-list">
    {{#each features as |feature index|}}
      <button type="button" class="item flexrow" data-action="viewDoc" data-document-class="Item" data-item-id="{{feature.id}}">
        <img class="img" src="{{feature.img}}">
        <span class="name">{{feature.name}}</span>
        {{#unless @root.isPlay}}
        <a class="delete" data-action="deleteDoc"><i class="fa-solid fa-trash-can"></i></a>
        {{/unless}}
      </button>
    {{/each}}
  </div>
</section>
