<fieldset>
  <legend>
    {{systemFields.biography.fields.languages.label}}
    {{#if unfilledLanguage}}
    <button
      type="button"
      class="icon fa-solid fa-message-question"
      data-tooltip="DRAW_STEEL.ADVANCEMENT.ISpeakTheirLanguage.button"
      data-tooltip-direction="UP"
      data-action="fillLanguage"
    >
    </button>
    {{/if}}
  </legend>
  {{#if isPlay}}
  {{languages.list}}
  {{else}}
  {{formInput systemFields.biography.fields.languages value=systemSource.biography.languages dataset=datasets.isSource options=languages.options}}
  {{/if}}
</fieldset>
