.application.draw-steel {
  max-height: 100vh;
}

.application.draw-steel .drop-target-area {
  min-height: 300px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px dashed var(--draw-steel-c-tan);
  margin: 1rem;

  &.dragover {
    border-style: solid;
  }
}

.application.draw-steel .section-header {
  display: flex;
  justify-content: space-between;
}

/**
 * General use CSS
 **/
dl.power-roll-display {

  dt.tier1,
  dt.tier2,
  dt.tier3 {
    font-family: "Draw Steel Glyphs";
    font-size: var(--font-size-24);
    font-weight: 500;
    line-height: 0.9;
  }

  span.potency {
    font-family: "Draw Steel Glyphs";
    font-size: var(--font-size-16);
    text-transform: lowercase;
    line-height: 0.9;
  }

  dd>p,
  dt>p {
    margin: 0;
  }
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
}

table {
  caption-side: top;
}


.system-draw-steel .roll-table-sheet {
  thead {
    border: none;
    border-color: transparent;
  }
}
