.draw-steel.query-manager {
  ol[data-application-part="body"] {
    margin: 0;
    padding: 0;
    div.pending {
      flex: 0 0 2em;
      width: 2em;
      text-align: center;
    }
  }
  img.avatar {
    max-height: 40px;
    max-width: 40px;
  }
}
