.draw-steel.roll-dialog {
  footer {
    display: flex;
    gap: 5px;
    margin-top: 5px;

    .roll-mode-buttons.split-button {
      button {
        border-color: var(--button-border-color);
        border-radius: inherit;
        border: 1px solid var(--control-border-color);
        filter: none;
      }

      button.selected {
        background: var(--button-hover-background-color);
        color: var(--button-hover-text-color);
      }
    }

    &>button {
      flex: 1;
    }
  }
}
