.draw-steel.item {
  min-width: 440px;

  .sheet-header {
    gap: 10px;
    .profile-img {
      width: 75px;
    }
    .header-right {
      flex: 0 0 125px;
      height: 100%;

      .item-source {
        margin: 5px 5px;
        font-family: var(--font-h4);
        font-size: var(--font-size-18);
      }
    }
  }

  section[data-tab="description"] {
    &.editorActive {
      .prosemirror.editor {
        &:not(.active) {
          display: none;
        }

        .label-action {
          display: none;
        }

        .editor-container {
          min-height: 250px;
        }
      }
    }

    .description-label {
      display: block;
      line-height: var(--form-field-height);
      font-family: var(--font-h4);
      font-size: var(--font-h4-size);

      .label-action {
        font-size: 0.9rem;
        vertical-align: top;
      }
    }

    .editor-container {
      height: 300px;
    }

    .description {
      padding: 0.25rem;
    }
  }

  [data-tab="details"] {
    &[data-subtype="kit"] {
      .damage-bonus {
        margin: 0.2rem 0 0.1rem;
        font-size: 1.15rem;
      }

      .form-group.damage-part {
        display: inline-flex;
        width: 135px;

        label {
          text-align: center;
        }

        .form-fields {
          flex: 0 0 40px;
          text-align: right;
        }
      }
    }

    &[data-subtype="ability"] {
      .power-roll-effect {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.02);
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5rem;
      }
    }
  }
}
