/* CSS for DrawSteelJournalEntrySheet */

/*all*/
.draw-steel.journal-sheet .journal-sidebar{
  --color-shadow-primary:#ccccccaa;
  --button-focus-outline-color: var(--draw-steel-c-laserline);
  --button-hover-background-color: var(--draw-steel-c-laserline);
    input{
      --input-text-color:var(--draw-steel-c-white);
    }
    ol li{
      font-family: 'DrawSteelBook';
    }
    .toc li.page.active:first-of-type{
      border-top-color: var(--draw-steel-c-laserline);
    }
    .toc li.page.active:last-of-type{
          border-bottom-color: var(--draw-steel-c-laserline);
        }
}
a.button:hover,button:hover{
  background: var(--draw-steel-c-laserline);
}
.draw-steel.journal-sheet.journal-entry, .draw-steel .journal-entry-page {
   --font-h1:'DrawSteelBook',serif;
    --font-h2:'Newsreader',serif;
    --font-h3:'Newsreader',serif;
    --font-h4:'Atkinson Hyperlegible',serif;
    --font-h5:'Atkinson Hyperlegible',serif;
    --font-h6:'Atkinson Hyperlegible',serif;
    --font-h1-size: 2em;
    --font-h2-size: 1.5em;
    --font-h3-size: 1.25em;
    --font-h4-size: 1em;
    --font-h5-size: 0.83em;
    --font-h6-size: 0.67em;
  
  .journal-header input{
    font-family: 'DrawSteelBook',serif;
    color: var(--draw-steel-dark);
  }
  h1, h1.window-title {
    font-family: 'DrawSteelBook',serif;
    size:3em;
    border-bottom:0px;
  }
  h2{
    font-family: 'Newsreader',serif;
    font-weight:bold;
    border-color: transparent;
    border-image: linear-gradient(to right, var(--draw-steel-c-laserline), transparent) 1; 
    border-image-slice: 1; 
    }
  h3{
    font-family: 'Newsreader',serif;
    font-weight:bold;
  }
  h4{
    font-family: 'Atkinson Hyperlegible',serif;
    font-weight:bold;
    font-variant:small-caps;
    }
  h5{
    font-family: 'Atkinson Hyperlegible',serif;
    }
  h6{
    font-family: 'Atkinson Hyperlegible',serif;
  }

/*imports*/
.glyph {
  font-family: DrawSteelGlyphs; 
}
dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
  font-family: DrawSteelGlyphs; 
}

dd {
  grid-column-start: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--input-background-color);
}

th, td {
  padding: 16px;
}
/*th{
  background:white;
}*/
/*td:nth-child(even) {
  background: var(--input-background-color);
}*/

tbody tr:nth-child(odd) {
  background: var(--input-background-color);
}
a{
  font-style: italic;
  color: #866d4b;
}
/* fancy fieldset*/
 .polygonal-fieldset {
  position:relative;
      border: 1px solid #333; /* Standard border for fallback and visual guide */
      border-radius: 15px; /* Defines the size of the corner */
      corner-shape: bevel; /* Creates a straight, angled corner */
      color: background: var(--draw-steel-c-white);
      legend{
        margin:0 auto;
      }
      div{
        inset: 0px;
        background: var(--input-background-color);
        padding:0.5rem;
      }
      .specialDiamond{
        font-family: DrawSteelGlyphs;
        position:absolute;
        bottom: -0.8em;
        left: -1em;
        width: calc(100% + 20px);
        text-align: center;
      }
    }
    .polygonal-fieldset-inverse {
      position:relative;
      border: 1px solid #866d4b; /* Standard border for fallback and visual guide */
      border-radius: 15px; /* Defines the size of the corner */
      corner-shape: bevel; /* Creates a straight, angled corner */
      legend{
        margin:0 auto;
        color: #866d4b;
      }
      div{
        inset: 0px;
        background: var(--draw-steel-c-black);
        color:var(--draw-steel-c-white);
        padding:0.5rem;
      }
      .specialDiamond{
        font-family: DrawSteelGlyphs;
        position:absolute;
        bottom: -0.8em;
        left: -0.8em;
        width: calc(100% + 20px);
        text-align: center;
        color: var(--draw-steel-c-laserline);
      }
    }

/*laser lines on captions*/
.tableTitle {
    width:100%;
    text-align:center;
    position:relative;
    border-bottom: 2px solid #866d4b;
    line-height: 0.1em;
    margin:10px 0 20px;
    border-image: linear-gradient(to right, #ffffff03, #866d4b99, #ffffff03) 1; 
    border-image-slice: 1;
    span{
        background: var(--draw-steel-c-white);
        padding: 10px 20px;
        position: relative;
        }
    span::before {
        content: "®";
        top: 1.55em;
        font-family: DrawSteelGlyphs;
        color: #866d4b;
        position: absolute;
        left: -0.5em;
      }
    span::after {
        content: "®";
        font-family: DrawSteelGlyphs;
        color: #866d4b;
        position: absolute;
        top: 1.55em;
        right: -0.5em;
    }
  }
    }
/*dark*/
  .theme-dark &:not(.theme-light), &.themed.theme-dark {
  --color-shadow-primary:#ccccccaa;
  --button-focus-outline-color: var(--draw-steel-c-laserline);
  --button-hover-background-color: var(--draw-steel-c-laserline);
/*    background-color: tan;*/
.polygonal-fieldset {
  position:relative;
      border: 1px solid #333; /* Standard border for fallback and visual guide */
      border-radius: 15px; /* Defines the size of the corner */
      corner-shape: bevel; /* Creates a straight, angled corner */
      legend{
        margin:0 auto;
      }
      div{
        inset: 0px;
        background: var(--input-background-color);
        padding:0.5rem;
      }
      .specialDiamond{
        font-family: DrawSteelGlyphs;
        position:absolute;
        bottom: -0.8em;
        left: -0.8em;
        width: calc(100% + 20px);
        text-align: center;
      }
    }
  }
/*end dark*/
/*light*/
  .theme-light &:not(.theme-dark), &.themed.theme-light {
/*    this should be default */
    .journal-sheet.journal-entry, .journal-sheet.journal-entry .journal-entry-content{
      background: var(--draw-steel-c-white);
    }
    .draw-steel.journal-sheet{
      background: whitesmoke;
    }
  }
