.draw-steel.journal-entry-page {
  section.tab {
    flex: 1;
    margin: 0 0 0 1rem;

    .editor.prosemirror {
      margin: 0;
    }
  }

  --font-h1-size: 2em;
  --font-h2-size: 1.75em;
  --font-h3-size: 1.5em;
  --font-h4-size: 1.25em;
  --font-h5-size: 1em;
  --font-h6-size: 0.85em;
}
