:root, .application.draw-steel.themed.theme-light {
  --draw-steel-c-dark: #191813;
  --draw-steel-c-faint: #c9c7b8;
  --draw-steel-c-beige: #b5b3a4;
  --draw-steel-c-tan: #444444;
  --draw-steel-c-white: #ffffff;
  --draw-steel-c-black: #000000;
  --draw-steel-c-groove: #eeede0;
  --draw-steel-c-success: green;
  --draw-steel-c-failure: red;
  --draw-steel-c-item-header-bg: #bebbab;
  --draw-steel-c-item-alternating-bg: rgba(0, 0, 0, .05);
  --draw-steel-c-laserline: #856C4B;
  --color-shadow-primary: #ccccccaa;
  --button-focus-outline-color: var(--draw-steel-c-dark);
  --button-hover-background-color: var(--draw-steel-c-dark);
  /*--input-text-color:var(--draw-steel-c-black);*/
}

.theme-dark, .application.draw-steel.themed.theme-dark {
  --draw-steel-c-dark: #c9c7b8;
  --draw-steel-c-faint: #191813;
  --draw-steel-c-beige: #444444;
  --draw-steel-c-tan: #b5b3a4;
  --draw-steel-c-white: #000000;
  --draw-steel-c-black: #ffffff;
  --draw-steel-c-groove: #11121f;
  --draw-steel-c-item-header-bg: #28232f;
  --draw-steel-c-item-alternating-bg: rgba(255, 255, 255, .05);
  --draw-steel-c-laserline: #856C4B;
  --color-shadow-primary: #ccccccaa;
  --button-focus-outline-color: var(--draw-steel-c-laserline);
  --button-hover-background-color: var(--draw-steel-c-laserline);
}
