slide-toggle {
  --slide-toggle-height: 20px;
  --slide-toggle-width: 36px;
  --slide-toggle-padding: 3px;
  --slide-toggle-track-color-unchecked: black;
  --slide-toggle-track-color-checked: #3ba55d;
  --slide-toggle-thumb-color: white;
  --slide-toggle-thumb-width: calc(var(--slide-toggle-height) - var(--slide-toggle-padding) * 2);
  --slide-toggle-thumb-height: var(--slide-toggle-thumb-width);
  --slide-toggle-transition-time: 250ms;
}
