:root {
  --font-primary: 'Atkinson Hyperlegible', sans-serif;
  --font-secondary: 'Newsreader', sans-serif;
  --font-title: 'Draw Steel Book', sans-serif;
  --font-glyph: 'Draw Steel Glyphs', sans-serif;
  --font-h1:'Draw Steel Book',serif;
  --font-h2:'Newsreader',serif;
  --font-h3:'Newsreader',serif;
  --font-h4:'Atkinson Hyperlegible',serif;
}
