:root {
  --font-primary: 'Atkinson Hyperlegible', sans-serif;
  --font-secondary: 'Newsreader', sans-serif;
  --font-title: 'Draw Steel Book', sans-serif;
  --font-glyph: 'Draw Steel Glyphs', sans-serif;
  --font-h1: 'Draw Steel Book', serif;
  --font-h2: 'Newsreader', serif;
  --font-h3: 'Newsreader', serif;
  --font-h4: 'Atkinson Hyperlegible', serif;
  --font-h5: 'Atkinson Hyperlegible', serif;
  --font-h6: 'Atkinson Hyperlegible', serif;
  --font-h1-size: 2em;
  --font-h2-size: 1.5em;
  --font-h3-size: 1.25em;
  --font-h4-size: 1em;
  --font-h5-size: 0.83em;
  --font-h6-size: 0.67em;
}
