:root {
  --font-primary: 'Atkinson Hyperlegible', sans-serif;
  --font-secondary: 'Newsreader', sans-serif;
  --font-title: 'DrawSteelBook', sans-serif;
  --font-glyph: 'DrawSteelGlyphs', sans-serif;
  --font-h1:'DrawSteelBook',serif;
  --font-h2:'Newsreader',serif;
  --font-h3:'Newsreader',serif;
  --font-h4:'Atkinson Hyperlegible',serif;
}
