/** General file for all enricher styling */

enriched-content {
  .roll-link {
    i {
      padding-right: 0.25em;
    }
  }

  /* Matches core inline roll styling */
  &[enricher="ds.roll"], &[enricher="ds.apply"] {
    background: var(--content-link-background);
    border: 1px solid var(--content-link-border-color);
    border-radius: 2px;
    color: var(--content-link-text-color);
    padding: 1px 4px 0;
    text-wrap-mode: nowrap;
    word-break: break-all;

    a[data-type="requestTest"] {
      margin-left: 0.25rem;
      padding-left: 0.4rem;
      border-left: 1px solid var(--content-link-border-color);
    }
  }

  &[enricher="ds.lookup"] {
    text-decoration: underline dotted;
  }
}
