/** General file for all enricher styling */

enriched-content {
  /* Matches core inline roll styling */
  &[enricher="ds.roll"], &[enricher="ds.apply"] {
    background: var(--content-link-background);
    border: 1px solid var(--content-link-border-color);
    border-radius: 2px;
    color: var(--content-link-text-color);
    padding: 1px 4px 0;
    text-wrap-mode: nowrap;
    word-break: break-all;
  }
}
