
.draw-steel.table-of-contents {
  --draw-steel-box-header: var(--color-text-light-1);
  --draw-steel-color-chapter-header: var(--color-text-hyperlink);

  &:not(.minimized, .minimizing, .maximizing) {
    min-height: 480px;
    min-width: 640px;
    .window-header .window-title {
      visibility: inherit;
    }
  }

  &:is(.app, .application) {
    .window-header { background: var(--color-header-background); }

    .window-content {
      color: var(--color-text-dark-primary);
    }
  }



  &.application {
    .window-content { overflow: auto; }

    h2 {
      font-family: var(--font-sans);
      font-size: 1.5em;
      font-weight: normal;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    background: var(--draw-steel-c-white);
    color: var(--draw-steel-c-light);

    aside, .contents {
      border: 4px solid var(--draw-steel-c-groove);

      header h1 {
        padding: 0.5rem .25rem .25rem .5rem;
        margin: 0;
        font-family: 'Draw Steel Book', serif;
      }

      section {
        padding: .625rem 1rem;
      }
    }

    aside blockquote {
      border: none;
      margin: 0;
      padding: 0;
    }

    .contents {
      flex-grow: 1;

      .chapter {
        margin-block-end: .5rem;
        break-inside: avoid-column;
      }

      h3 {
        border: none;
        font-weight: bold;
        font-size: var(--font-size-18);
        color: var(--draw-steel-color-chapter-header);
      }

      ul {
        list-style-type: none;
        margin: 0 0 0 .375rem;
        padding: 0;

        li {
          font-size: var(--font-size-16);
          &.special-entry > a {
            font-weight: bold;
          }
        }
      }

      section.chapters {
        column-count: 3;
      }
    }
  }
}
