#meta-currency {
  width: 200px;
  background: var(--background-color, var(--color-cool-5-75));
  border-radius: 8px;
  padding: 6px 8px;
  pointer-events: all;
  .context-menu {
    float: right;
    border: none;
  }
}
