{{! Features Tab }}
<section class="tab features {{tab.cssClass}}" data-group="primary" data-tab="features">
  {{! Features List}}
  {{> "systems/draw-steel/templates/actor/shared/features-list.hbs"}}
</section>
