<div class="meta-currency">
  <div class="hero-tokens">
    <label>{{heroTokens.label}}</label>
    <span>{{heroTokens.value}}</span>
  </div>
  {{#if showMalice}}
  <div class="malice">
    <label>{{malice.label}}</label>
    <span>{{malice.value}}</span>
  </div>
  {{/if}}
</div>
