<div id="meta-currency">
  <div class="currency-values">
    <div class="hero-tokens">
      <span>
        {{heroTokens.value}} <label>{{heroTokens.label}}</label>
      </span>
    </div>
    {{#if showMalice}}
    <div class="malice">
      <span>
        {{malice.value}} <label>{{malice.label}}</label>
      </span>
    </div>
    {{/if}}
  </div>
  {{#if gm}}
  <button class="context-menu icon fa-solid fa-ellipsis-vertical" type="button"></button>
  {{/if}}
</div>
