document-embed > .draw-steel.ability {
  dt.distance, dt.target {
    font-family: "Draw Steel Glyphs";
  }

  dd.effect {
    :first-child {
      /* Ensures the text lines up with the dt element */
      margin-top: 0;
      padding-top: 0;
    }
  }
}
