.draw-steel.ability-configuration-dialog {
  &.two-column section.window-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0;
    gap: 0.5rem;
    .roll-config {
      flex: 1;
    }
    .ability-config {
      flex: 1;
    }
  }

  button.header {
    border: none;
    width: 100%;
  }
}
