.draw-steel.ability-configuration-dialog {
  &.two-column section.window-content {
    display: grid;
    grid: "targets resource" "targets damage" / 1fr 1fr;
    .roll-config {
      grid-row: 1 / span 2;
    }
    .ability-config {
      align-self: flex-start;
    }
    footer {
      align-self: flex-end;
    }
  }

  a.header {
    width: 100%;
  }

  .group label span {
    white-space: nowrap;
  }

  fieldset + .form-group {
    margin-top: 0.5rem;
  }
}
