.draw-steel.actor-characteristics {
  .form-group {
    align-items: flex-end;
    &.row-labels {
      text-align: right;
      .label.advancement {
        line-height: inherit;
      }
    }
  }
  label, input, .advancement {
    text-align: center;
  }
}
