.draw-steel.minion-stats {
  .characteristics {
    .characteristic {
      text-align: center;
      * {
        text-align: center;
      }
    }
  }

  .size {
    input {
      margin: 0 10px;
      text-align: center;
      flex: 0 0 50px;
    }

    select {
      flex-basis: 70px;
    }
  }
}
