.draw-steel.power-roll-dialog {
  .group {
    .header {
      text-align: center;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: var(--font-size-16);
    }

    .modifiers {
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin-bottom: 10px;

      label {
        flex: 1;

        select {
          margin-bottom: 5px;
        }
      }
    }
  }

  footer {
    display: flex;
    gap: 5px;
    margin-top: 5px;

    .roll-mode-buttons {
      display: flex;

      button.selected {
        background: var(--button-hover-background-color);
        color: var(--button-hover-text-color)
      }

      button:not(:first-of-type, :last-of-type) {
        border-radius: 0px;
      }

      button:first-of-type {
        border-radius: 5px 0px 0px 5px;
      }

      button:last-of-type {
        border-radius: 0px 5px 5px 0px;
      }
    }

    &>button {
      flex: 1;
    }
  }
}
