.draw-steel.toc-config {
  .window-content {
    container-type: inline-size;
  }
  [data-application-part="body"] {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 10px 0;
    padding: 0;
    @container (width < 600px) {
      display: flex;
      flex-direction: column;
    }
    @container (width > 900px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
