/* Token Drag Ruler labels */
#measurement .waypoint-label .total-strikes {
  color: var(--color-text-emphatic);
  font-size: var(--font-size-24);
}
#measurement .waypoint-label .delta-strikes {
  color: var(--color-text-subtle);
  font-size: var(--font-size-16);
}
