#token-hud {
  .status-effects.palette {
    display: flex;
    flex-direction: column;
    width: 240px;
    section.effect-pane {
      display: grid;
      grid-template-columns: repeat(2, 110px);
      grid-column-gap: 10px;
      text-align: left;
      padding-right: 3px;
      div.effect-group {
        opacity: 0.6;
        filter: var(--control-icon-filter);
        cursor: var(--cursor-pointer);
        &:hover {
          opacity: 0.8;
        }
        &.active {
          opacity: 1;
        }
      }
      img.effect-control {
        flex: 0 0 var(--effect-size);
        opacity: inherit;
      }
    }
  }
}
