<section class="tab standard-form {{tab.cssClass}}" data-group="primary" data-tab="details" data-subtype="{{document.type}}">
  {{#each detailsPartial as |part|}}
  {{> (part) @root}}
  {{/each}}
</section>
