.chat-sidebar,
#chat-notifications,
.chat-popout {
  .chat-message {
    /* "standard" chat messages that use parts */
    &.draw-steel {
      > section:not(:last-of-type) {
        border-bottom: var(--sidebar-separator);
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .message-part-flavor {
        font-style: italic;
      }

      .message-part-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
      }
    }
    footer {
      button {
        margin-top: 3px;
        &.apply-effect {
          /* Status conditions should be inverted to dark on the light mode chat */
          /* TODO: Use CSS variables & SVG integration */
          .themed.theme-light &[data-type="status"] {
            img {
              filter: invert(1);
            }
          }
          img {
            max-height: 1.5rem;
          }
        }
      }
    }

    .dice-roll {
      border: 1px solid var(--color-border-light-2);
      padding: 5px;
      border-radius: 5px;

      .header {
        flex-basis: 100%;
        text-align: center;
        font-size: var(--font-size-16);
        font-weight: bold;
      }

      .inline-result {
        display: flex;
        margin-bottom: 5px;

        .dice-formula {
          flex: 1 0 calc(100% - 50px);
          border-radius: 3px 0px 0px 3px;
          margin-bottom: 0px;
        }

        .dice-total {
          flex: 0 0 50px;
          border-radius: 0px 3px 3px 0px;
        }
      }

      .dice-result {
        .critical {
          color: green;
        }

        .failure {
          color: red;
        }
      }

      .potency {
        flex-basis: 100%;

        .label {
          font-weight: bold;
        }

        .result {
          &.Success {
            color: var(--draw-steel-c-success);
          }

          &.Failure {
            color: var(--draw-steel-c-failure);
          }
        }
      }
    }
  }
}
