.chat-sidebar,
#chat-notifications,
.chat-popout {
  enriched-content {
    text-wrap-mode: initial;
  }

  .chat-message {

    /* "standard" chat messages that use parts */
    &.draw-steel {
      > section:not(:last-of-type) {
        border-block-end: 1px solid var(--draw-steel-c-laserline);
        border-image: linear-gradient(to right, #ffffff03, #866d4b99, #ffffff03) 1;
        border-image-slice: 1;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .message-part-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        img {
          width: 40px;
        }

        .targetName {
          text-align: center;
          font-size: var(--font-size-16);
          font-weight: bold;
          line-height: 30px;
        }
      }

      .message-part-rolls {
        border-image-source: url(/systems/draw-steel/assets/ui/mcdm-box.svg);
        border-image-slice: 20; /* 20 */
        border-image-width: 60px; /* 60px */
        border-image-repeat: repeat;

        filter: drop-shadow(1px 1px 4px var(--draw-steel-c-laserline));

        padding: 22px; /* 22px */
      }

      .message-part-flavor {
        font-family: var(--font-h3); /* */
        font-size: var(--font-h3-size);
        font-weight: bold;
        font-variant: small-caps;
        text-align: center;

        border-block-end: 1px solid var(--draw-steel-c-laserline);
        border-image: linear-gradient(to right, #ffffff03, #866d4b99, #ffffff03) 1;
        border-image-slice: 1;

        margin-block-end: 4px;
      }

      .message-part-html {
        document-embed {
          border-radius: 6px;

                  border-image-source: url(/systems/draw-steel/assets/ui/mcdm-box.svg);
        border-image-slice: 20; /* 20 */
        border-image-width: 60px; /* 60px */
        border-image-repeat: repeat;

          padding: 22px;
          margin-top: 8px;

          dl {
            margin-block: 4px;
          }

          section.effect dd.effect p {
            margin-block: 0px;
          }
        }

        > .power-roll-display {
          box-shadow:
            inset 0 0 8px var(--draw-steel-c-laserline);
          border: 1px solid var(--draw-steel-c-color-shadow);
          border-radius: 6px;

          padding: 6px 10px;
          margin-block-start: 0;
          margin-inline: calc(22px - 10px);
        }
      }

      .message-part-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
      }
    }

    footer {
      justify-content: center;

      button {
        margin-top: 3px;

        &.apply-effect {

          /* Status conditions should be inverted to dark on the light mode chat */
          /* TODO: Use CSS variables & SVG integration */
          .themed.theme-light &[data-type="status"] {
            img {
              filter: invert(1);
            }
          }

          img {
            max-height: 1.5rem;
          }
        }
      }
    }

    .dice-roll {
      .header {
        flex-basis: 100%;
        text-align: center;
        font-size: var(--font-size-16);
        font-weight: bold;
      }

      .inline-result {
        display: flex;
        gap: 5px;
        align-items: stretch;
        margin-bottom: 5px;

        .dice-formula {
          flex: 1;
          border-radius: 3px 0px 0px 3px;
          margin-bottom: 0px;
          line-height: 30px;
        }

        .dice-total {
          flex: 0 0 50px;
          border-radius: 3px 0px 0px 3px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.apply-damage {
            flex: 0 0 100px;
            border-radius: 0px 3px 3px 0px;
            border: 1px solid var(--button-border-color);
            border-inline-start: var(--draw-steel-c-tan) solid 3px;


            &:hover {
              background-color: var(--button-hover-background-color);
              border-color: var(--button-hover-border-color);
            }
          }
        }

        .power-result {
          flex: 1;

          border: var(--draw-steel-c-tan) dotted 1px;
          border-inline-start: var(--draw-steel-c-tan) solid 3px;
          border-radius: 0px 3px 3px 0px;
          padding: 3px 6px;

          .tier  {
            font-weight: bold;
          }

          .dice-flavor {
            font-style: italic
          }
        }
      }

      .dice-result {
        .critical {
          color: var(--draw-steel-c-success);
        }

        .failure {
          color: var(--draw-steel-c-failure);
        }
      }

      .potency {
        flex-basis: 100%;

        .label {
          font-weight: bold;
        }

        .result {
          &.Success {
            color: var(--draw-steel-c-success);
          }

          &.Failure {
            color: var(--draw-steel-c-failure);
          }
        }
      }
    }
  }
}
