<div class="mode-toggle">
  <button type="button" data-action="toggleMode">
    {{#if isPlay}}
      <i class="fa-solid fa-pen-to-square"></i> Switch to Edit
    {{else}}
      <i class="fa-solid fa-circle-play"></i> Switch to Play
    {{/if}}
  </button>
</div>
