<section class="tab {{tabs.content.cssClass}}" data-tab="content" data-group="primary">
  <prose-mirror name="text.content" class="journal-page-content" value="{{text.content}}" data-document-uuid="{{uuid}}" collaborate>
  </prose-mirror>
</section>
