<header class="metadata">
  <h3 class="name">{{page.name}}</h3>
  {{#if categoryLabel}}
  <aside class="category">
    <h4>{{categoryLabel}}</h4>
  </aside>
  {{/if}}
</header>
<section class="content">
  {{{tooltipHTML}}}
</section>
