<header class="metadata">
  <h3 class="name">{{page.name}}</h3>
  {{#if category}}
  <aside class="category">{{category.name}}</aside>
  {{/if}}
</header>
<section class="content">
  {{{tooltipHTML}}}
</section>
