<section class="standard-form tab {{tabs.tooltip.cssClass}}" data-tab="tooltip" data-group="primary">
  {{formGroup systemFields.short value=system.short}}
  <prose-mirror name="system.long" class="journal-page-content" value="{{system.long}}" data-document-uuid="{{uuid}}" collaborate>
  </prose-mirror>
</section>
