<section class="standard-form tab {{tabs.tooltip.cssClass}}" data-tab="tooltip" data-group="primary">
  <p class="hint">{{systemFields.tooltip.hint}}</p>
  <prose-mirror name="system.tooltip" class="journal-page-content" value="{{system.tooltip}}" data-document-uuid="{{uuid}}" collaborate>
  </prose-mirror>
</section>
