<section class="standard-form">
  {{#unless (eq document.type "hero")}}
  {{formGroup systemFields.combat.fields.turns value=systemSource.combat.turns classes="slim"}}
  {{/unless}}
  {{formGroup systemFields.combat.fields.save.fields.bonus value=systemSource.combat.save.bonus}}
  {{formGroup systemFields.combat.fields.save.fields.threshold value=systemSource.combat.save.threshold}}
</section>
