<section class="standard-form">
  {{formGroup objectFit.field value=objectFit.value options=objectFit.options name=objectFit.name rootId=rootId classes="slim"}}
  {{formGroup objectPosition.field value=objectPosition.value name=objectPosition.name rootId=rootId}}
</section>
