<section class="standard-form">
  {{formGroup retainerFields.keywords value=systemSource.retainer.keywords options=monsterKeywords}}
  {{formGroup retainerFields.role value=systemSource.retainer.role options=monsterRoles}}
</section>
