<section class="standard-form">
  {{formGroup retainerFields.keywords value=systemSource.retainer.keywords options=monsterKeywords}}
  {{formGroup retainerFields.role value=systemSource.retainer.role options=monsterRoles}}
  {{formGroup retainerFields.mentor value=systemSource.retainer.mentor options=mentorOptions}}
</section>
